@font-face {
  font-family: "BEBAS";

  src: url("../fonts/BEBAS___-webfont.woff") format("woff");
}
* {
  box-sizing: border-box;
}
/* l'ajustement de la valeur REM FACE AU PIXELS POUR DES CALCULES SUPER SIMPLES */
html {
  font-size: 62.5%; /*ainsi 1rem=10px au lieu de 16px */
}
body {
  font-family: "Roboto", sans-serif;
  /* taille par defaut pour eviter d'avoir tous les elements avec une taille definie à 10px */
  font-size: 1.6rem;
  /* surcharger la marge par defaut appliqué par le navigateur */
  margin: 0;
}

header {
  background-color: #ea222d;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* gerer les superpositions sur l'axe z */
}
#logo {
  font-family: "BEBAS";
  padding-left: 10rem;
}
.universe {
  color: white;
}
.smaller {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.uppercase {
  text-transform: uppercase;
}
header img {
  width: 7rem;
  margin-left: 10rem;
}
#logo {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
  list-style: none;
  color: white;
  justify-content: space-between;
}
li {
  padding: 0 0.9rem;
}
.container {
  display: flex;
  justify-content: space-between;
}
.nav-a {
  text-decoration: none;
  color: white;
}
.universe {
  font-size: xx-large;
  letter-spacing: -3px;
}
.nav-a:hover {
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
}
main {
  margin: auto;

  box-shadow: 0 0 5rem #555555;
}

.discover-div {
  margin: auto;
  padding: 35rem;
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1)
    ),
    url("../img/texture.jpeg") no-repeat;
  background-size: cover;
}

.title-no1 {
  color: #ea222d;
  position: absolute;
  top: 30rem;
  left: 10rem;
  font-size: 5rem;
  font-weight: 900;
  padding: 0 1rem;
  background-color: white;
}
.title-no2 {
  color: white;
  font-size: 2.2rem;
  position: absolute;
  top: 38.5rem;
  left: 10rem;
  background-color: #ea222d;
  padding: 0 1rem;
}
.emblematique {
  color: red;
  font-weight: bolder;
  font-size: 4rem;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5rem 5rem white;
}
.character-group {
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 8rem;
}
.character-div-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15%;
  justify-content: space-between;
}
.characters-img {
  width: 10rem;
}

.video-div {
  position: relative;
}

.iframe-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
table {
  outline: 0.5rem solid #ea222d;
  background-color: white;
  font-size: 2rem;
  text-align: center;
}
thead {
  border-bottom: 0.4rem solid #ea222d;
  padding: 0 0.1rem;
}
td {
  padding: 0 3.6rem;
}
.new-marvel-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-bottom: 2rem;
  background-color: #ea222d;
}
.trailer-description {
  display: flex;
  justify-content: space-between;
}

.description-movie {
  color: White;
  width: 80%;
}
.adaptation-au-cinema,
.a-venir {
  color: white;
  font-size: 5rem;
}
.video-description {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-size: 2rem;
  width: 45rem;
}
.video-marvel {
  width: 40rem;
}

.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  overflow: hidden;
  height: 40rem;
}

.table-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(234, 34, 45, 1), rgba(255, 255, 255, 0.6));
}
.video-avengers {
  width: 100%;
}

.underline {
  border-bottom: 0.2rem solid rgb(234, 34, 45);
}
.detail {
  color: #ea222d;
  text-decoration: none;
  border: 0.3rem solid #ea222d;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.contact-div {
  display: flex;
  justify-content: center;
  padding: 10rem;
}
.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.map-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

form,
iframe.map {
  width: 100%;
  padding: 1rem;
  height: 100%;
}

.form-elements-div p {
  padding-bottom: 0;
  margin-bottom: 0.2rem;
  margin-top: 0;
}
.form-input {
  margin-bottom: 2.8rem;
}

.contact-title {
  color: #ea222d;
  font-size: 5rem;
}

input,
textarea,
select {
  border-radius: 0.7rem;
  width: 100%;
}
.form-elements-div p,
.form-input,
select,
textarea {
  font-size: 2rem;
}

input[type="submit"] {
  background-color: white;
  color: #ea222d;
  border: 0.2rem solid #ea222d;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.copywright {
  background: #ea222d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 10rem;
}

.copywright p {
  color: white;
}
.awesome-icons {
  font-size: 5rem;
  width: 2rem;
  height: 2rem;
  color: white;
}
